﻿﻿<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="btn btn-sm" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x"></i></button>
            </div>
            <form onsubmit="event.preventDefault(); submitChangePassword()">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Mật khẩu">
                        <label for="floatingPassword">Mật khẩu</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingConfirm" placeholder="Nhập lại mật khẩu">
                        <label for="floatingConfirm">Nhập lại mật khẩu</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" onclick="submitChangePassword()">Đổi mật khẩu</button>
                </div>
            </form>
        </div>
    </div>
</div>