﻿<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index:9999;">
    <div class="toast bg-light" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Thông báo</strong>
            <small>2 seconds ago</small>
        </div>
        <div class="toast-body">
            <span id="notificationText"></span>
        </div>
    </div>
</div>